*{
    margin: 0px;
    padding: 0px;
    user-select: none;
 }

.menu{
    display: flex;
    font-size: 25px;
    padding: 15px 1px;
}
.m{
    margin: 0px 10px;
    list-style-type: none;
}
.m a{
    text-decoration: none;
    color: white;
}
#navbar{
    position: fixed;
    width: 100%;
    margin-left: 21%;
    background-color: rgb(48, 46, 46);
    z-index: 80;
} 
.sidebar{
    list-style-type: none;
   
     display: block;
     position:fixed;
     width: 20%;
     height: 100%;
     left: 0;
     top: 0;
     background: rgb(241, 241, 181);
     text-align: left;
     font-size: larger;
     padding-left: 10px;
     overflow-y: scroll;
 }
 .sidebar a{
    text-decoration: none;
    cursor: pointer;
 }
 .discription{
     margin-left: 21%;
    font-size: larger;
    padding-left: 30px;
    position: sticky;
   }

 .footer{
    background:rgb(121, 24, 177);
    border-radius: 10px;
    color: white;
    padding:9px;
    padding-left: 100px;
    margin-bottom: 20px;
    font-size: 20px;
}
    .discription h1{
        padding-top: 60px;
        
                                                                                             
    }

